<template>
    <div>
        <vs-navbar shadow square center-collapsed v-model="active">

            <vs-navbar-item :active="'guide'" id="guide">
                Boutique
            </vs-navbar-item>
            <template #right>
                <vs-button flat>Login</vs-button>
                <vs-button>Get Started</vs-button>
            </template>
        </vs-navbar>
        <main style="margin-top: 200px;">
            <slot name="content" />
        </main>
    </div>
</template>

<script>
export default {

}
</script>
